html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 1rem;
}

header {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.125rem;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

li a {
  color: #3783a3;
  font-size: 1.125rem;
}

img {
  display: block;
  width: 100%;
}

div {
  text-align: center;
}

div span {
  font-size: 2rem;
}
